/* Navbar */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navicon {
    height: 6vh;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.li-m {
  background-color: rgb(5, 155, 5);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav li {
  margin-left: 20px;
}

nav li:hover {
  background-color: darkgray;
  transition: .5s ease-in-out;
  transition-delay: .2s;
  border-radius: 8px;
  
}

/* @media */
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    width: 100%;
    flex-direction: column;
  }

  .navicon {
    margin-bottom: 14px;
  }

  .row-row {
    flex-direction: column;
    width: 100%;
  }

  .m-f .button {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 90%;
  }

  .row-row .display {
    width: 75%;
    flex-direction: column;
    margin-top: 2vh;
  }
}
/* @media end */

nav a {
  color: #fff;
  text-decoration: none;
}

/* Message Us */

.s-m {
  display: flex;
}

.container-m {
  margin-top: 8vh;
  margin-bottom: 5vh;
  padding-left: 10vw;
}

.row-row {
  display: flex;
}

.column  {
  flex: 50%;
}

.row {
  display: flex;
}

.h1-m {
  font-weight: 800;
  font-size: xx-large;
}

.point {
  flex: 2%;
  line-height: 150%;
}

.label-form {
  flex: 25%;
}

.label {
  line-height: 150%;
}

.input-form {
  flex: 73%;
}

.name {
  border-radius: 5px;
  margin-bottom: 1vh;
  width: 60%;
  padding: 1px 2px;
}

.date {
  border-radius: 5px;
  margin-bottom: 1vh;
  width: 61%;
}


.radio {
  display: inline-block;
}

.message {
  width: 60%;
  margin-bottom: 2vh;
  padding-bottom: 10vh;
  border: 2px;
  border-style: solid;
}

.button {
  cursor: pointer;
  width: 33vw;
  height: 5vh;
}

.p-m {
  font-weight: bold;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.show {
  flex: 50%;
}

.display {
  border: 2px;
  border-style: solid;
  width: 80%;
  margin-right: 30vw;
  margin-left: 5vh;
  padding-top: 3vh;
  padding-left: 5vh;
  padding-bottom: 8vh;
}

/* Message Us end */

.p2 {
  text-align: right;
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-right: 2vw;
}