/* Navbar */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navicon {
    height: 6vh;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.li-m {
  background-color: rgb(5, 155, 5);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav li {
  margin-left: 20px;
}

nav li:hover {
  background-color: darkgray;
  transition: .5s ease-in-out;
  transition-delay: .2s;
  border-radius: 8px;
  
}

nav a {
  color: #fff;
  text-decoration: none;
}

hr {
  border-width: 3px;
}

/* Navbar end */

/* @media */
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    padding: 0;
    width: 100%;
    flex-direction: column;
  }

  nav li {
    display: block;
    padding: 8px;
    color: #333;
    text-align: center;
  }

  .li-m {
    display: block;
    padding: 8px;
    color: #333;
    text-align: center;
  }

  .navicon {
    margin-bottom: 10px;
    text-align: center;
  }

  .row-row {
    flex-direction: column;
    width: 100%;
  }

  .m-f .button {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100%;
  }

  .m-f .name {
    width: 100%;
  }

  .m-f .date {
    width: 100%;
  }

  .m-f .message {
    width: 100%;
  }

  .row-row .display {
    width: 75%;
    flex-direction: column;
    margin-top: 2vh;
  }
}
/* @media end */

/* Content */

/* Banner */
.banner {
  width: 100%;
  height: auto;
  padding-bottom: 5vh;
  border-color: black;
  border-bottom: 10px;
  color: #fff;
}

.banner h1 {
  font-size: 50px;
  margin: 0;
  text-shadow: 2px 2px #333;
}

.banner p {
  font-size: 20px;
  margin: 20px 0 0;
  text-shadow: 2px 2px #333;
}

.next {
  width: 20%;
  height: auto;
  text-align: center;
  float: right;
  margin-right: 2vw;
}

.prev {
  width: 20%;
  height: auto;
  text-align: center;
  margin-left: 2vw;
}
/* Banner end */

/* konten */
.judul-konten {
  font-weight: 800;
  font-size: xx-large;
}

.kontainer {
  display: flex;
  justify-content: space-between;
}

.kontainer-img {
  display: flex;
  justify-content: space-between;
}

.container-fac {
  display: flex;
  justify-content: space-between;
}

.img  {
  width: 45%;
  height: auto;
}
/* konten end */

/* Content end */

.p2 {
  text-align: right;
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-right: 2vw;
}